@import 'src/styles';

footer {
    background: linear-gradient(to right, #000080, #ff0000);
    color: white;
    text-align: center;
    padding: 1rem;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100px;
    height: auto;
}

.info p {
    margin: 0;
}