@import 'src/styles';

footer {
    background: linear-gradient(to right, #000080, #ff0000);
    color: $color-white;
    
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.footer-container {
    display: flex;
    justify-content: flex-start; // Alinea los elementos al inicio
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

img {
    width: 100px;
    height: auto;
}

.info p {
    margin: 0;
    margin-right: 5px;
}

.logo {
    margin-right: 10px; /* Ajusta el margen según el tamaño de tu logo */
}

.info {
    display: flex; /* Hace que los elementos de info se muestren en línea */
    align-items: center;
    
}

.info-nit {
    display: flex; /* Si estás usando Flexbox */
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 3px solid $color-white;
    font-size: 16px;
  }

.info-address{
    display: flex; /* Si estás usando Flexbox */
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    border-left: 3px solid $color-white;
}

.info-item:last-child {
    border-right: none; /* Elimina el borde del último elemento */
}