@import 'src/styles';

.card-header {
    background: linear-gradient(to right, #000080, #ff0000);
    font-family: "Montserrat";
    color: $color-background;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px 15px 0 0;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(to right, #000080, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    margin: 1rem;
    border-radius: 15px;
    border: 1px solid rgba(216, 216, 216, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}