@import 'src/styles';

.dashboard-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dashboard-content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-link {
    flex: 1;
    text-align: center;
}

.nav-pills .nav-link {
    color: $color-blue;
    background-color: $color-background;
    border-radius: 50px;
}
.card{
    border: 1px solid rgba(216, 216, 216, 0.349);
}

.nav-pills .nav-link.active {
    color: $color-blue;
    background-color: #e2dede;
    border-radius: 50px;
}
.aply {
    width: 100%;
    border-radius: 50px;
    background-color: $color-red;
    color: $color-white;
    padding: 0.5rem 1rem;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border: none;
}
.dropdown {
    li{
        font-size: .8rem;
    }
    button.dropdown-toggle, ul{
        width: 15rem;
    }
}