@import 'src/styles';

body {
    margin: 0;
    padding: 0;
}

.modal-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100vh;
    max-height: 800px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    padding: 5%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.result,
.amount,
.date,
.details,
.transaction-id,
.deduction {
    text-align: center;
}

.result {
    font-size: 1.2rem;
    font-weight: bold;
}

.amount {
    font-size: 1.7rem;
    color: $color-blue;
    font-weight: bold;
}

.details {
    font-size: 0.9rem;
    color: #666;
}

.transaction-id {
    font-weight: bold;
}

.deduction {
    font-size: 0.8rem;
    color: $color-red;
    font-weight: 800;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.info,
.text-only {
    margin: 0;
    padding: 0;
    text-align: center;
}

.text-only p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;

    span.details {
        flex: 1;
        text-align: left;
    }
}

.text-only p img {
    margin-left: 8px;
}

.right-aligned {
    flex: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
        margin-left: 8px;
    }
}

.tp {
    font-weight: 800;
}

hr {
    border: 0;
    height: 2px;
    background-color: $color-dark-gray;
}

@media (max-width: 768px) {
    .modal-content {
        width: calc(100% - 10px);
        max-width: 400px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        width: calc(100% - 5px);
        max-width: 300px;
        padding: 10px;
    }
}

@media (max-width: 320px) {
    .modal-content {
        width: 100%;
        max-width: 200px;
        padding: 5px;
    }
}
