
@import 'src/styles';
html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que la altura mínima sea igual a la altura de la ventana */
}
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  