@import 'src/styles';


.dashboard-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.dashboard-content {
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.nav-link {
    flex: 1;
    text-align: center;
}

.nav-pills .nav-link {
    color: $color-blue;
    background-color: $color-background;
    border-radius: 50px;
}

.nav-pills .nav-link.active {
    color: $color-blue;
    background-color: $color-background;
}


.card {
    border: 1px solid rgba(216, 216, 216, 0.349);
}


.aply {
    width: 100%;
    border-radius: 50px;
    background-color: $color-red;
    color: $color-white;
    padding: 0.5rem 1rem;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}


.dropdown {
    li {
        font-size: 0.8rem;
    }

    button.dropdown-toggle,
    ul {
        width: 15rem;
    }

    .dropdown-toggle::after {
        display: inline-block;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border: none;
    }
}

.dropdown-menu.show {
    display: block;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;

    .d-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    span.text-center {
        flex-grow: 1;
        text-align: center;
    }

    img {
        margin-left: 10px;
    }
}


.slide,
.form-check-label {
    color: $color-blue;
}
